<div class="container-sm ">
    <br />
    <div class="d-flex justify-content-center">
            <img src="assets/myface.png" class="rounded-circle img-thumbnail" />            
    </div>
    <br />
    <div class="d-flex justify-content-center">                     
            <h1> Welcome </h1>
    </div>
    <br />
    <div class="d-flex justify-content-center">
            <p>
                I'm just a guy who loves software engineering in its whole! 
                I love creating software when there is a purpose embeded, like this website, 
                I just wanted to update myself with front end development, 
                so I tried to scratch the surface of the new technologies in order to built it!
                <br />
                And it's still a work in progress, for more information about my work go to the <a routerLink="/contact">Contact</a> page.
                <br />
                Cheers.
            </p>
    </div>
</div>

